.header {
	position: relative;
	border-bottom: 1px #bbb solid;
	background: #eee;
	padding-right: 10px;
	line-height: 24px;
	text-align: right;
}
.headline {
	font-weight: bold;
	background: #f2f2f2;
	padding: 1em;
	img {
		vertical-align: -2px;
		margin-right: 4px;
	}
}