.header {
	position: relative;
	border-bottom: 1px #bbb solid;
	background: #eee;
	padding-left: 10px;
	line-height: 44px;
	font-size: $font-size-5;
}
.headline {
	font-weight: bold;
	background: #f2f2f2;
	padding: 1em;
}